:root {
    /* background */
    --c-dark: #141D2D;
    --c-light: #fff;
    --c-accent: #FF6B08;
  
    --c-dark-blue: #253045; 
    --c-grey-blue: #4A5771;
    --c-grey-light: #F1F2F2;
    --c-grey: #BCC1D2;
  
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4F5B70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);

   /* modals */
   --modal-bgd-dark: rgba(20, 29, 45, 0.8);
  
    /* font */
    --font-main: 'Acrom', sans-serif;
  
    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1146px + var(--vertical-scroll));
  
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;
  }
  
  @font-face {
    font-family: "Acrom";
    src: url("../fonts/acrom/Acrom-ExtraBold.eot");
    src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
      url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
      url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Bold.eot');
      src: local('Acrom Bold'), local('Acrom-Bold'),
          url('../fonts/acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Bold.woff') format('woff'),
          url('../fonts/acrom/Acrom-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Regular.eot');
      src: local('Acrom Regular'), local('Acrom-Regular'),
          url('../fonts/acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Regular.woff') format('woff'),
          url('../fonts/acrom/Acrom-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }
body{
font-family: var(--font-main);
}
html{
scroll-behavior: smooth;
}
/*COMMON*/
.accent-btn{
letter-spacing: 0.05em;
padding: 20px 35px;
font-size: 15px;
line-height: 18px;
background: var(--c-accent);
color: var(--c-light);
font-weight: bold;
text-transform: uppercase;
outline: none;
border: none;
cursor: pointer;
}
.container{
width: 100%;
min-width:320px;
display:flex;
flex-direction:column;
align-items: center;
box-sizing: border-box;
margin: auto;
padding: 30px 10px 55px 10px;
overflow: hidden;
}
.container-left{
align-items: start;
}
.section-title{
font-weight: bold;
font-size: 35px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: var(--c-light);
}
/*MODALS*/
.modal{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: all 0.3s ease-in-out;
pointer-events: none;
display: block;
background: var(--modal-bgd-dark);
}
.modal-active{
opacity: 1;
pointer-events: all;
}
.modal-mobile-menu{
background: var(--c-light);
}
.modal-mobile-content{
display: flex;
flex-direction: column;
justify-content: flex-end; 
height: 100%;
}
.mobile-menu-items{
display: flex;
flex-direction: column;
}
.mobile-menu-item{
font-weight: bold;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--txt-c-grey);
text-decoration: none;
text-align: center;
margin: 0 0 35px 0;
}
.mobile-menu-my-tel{
font-size: 17px;
line-height: 150%;
font-weight: bold;
text-align: center;
text-decoration: none;
color: var(--txt-c-dark);
margin: 0 0 15px 0;
}
.mobile-menu-my-mail{
font-size: 17px;
line-height: 150%;
font-weight: bold;
text-align: center;
text-decoration: none;
color: var(--txt-c-dark);
margin: 0 0 5px 0;
}
.mobile-menu-container{
height: 70%;
justify-content: space-between;
margin: 0;
}
.modal-close-btn {
font-size: 18px;
position: absolute;
color: var(--c-grey-blue);
top:16px;
right: 16px;
cursor: pointer;
}
.body-scroll-disable{
overflow: hidden;
}
/* MOBILE MENU */
.mobile-menu-close-btn{
background: var(--c-accent);
color: var(--c-light);
padding: 10px 14px;
}
.mobile-menu-contacts{
display: flex;
flex-direction: column;
}
/* MY VIDEO MODAL */
.my-video-content{
width: 100%;
}
.my-video-container{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
padding: 10px 20px;
}
.my-video-close-btn{
background: var(--c-light);
color: var(--c-dark);
cursor: pointer;
padding: 10px 14px;
}
/*REQUEST RECEIVED MODAL*/
.request-received-container{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: var(--c-light);
padding: 80px 10px;
position: relative;
}
.modal-request-received{
display: flex;
align-items: center;
justify-content: center;
padding: 20px 10px;
box-sizing: border-box;
}
.request-received-title{
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: var(--txt-c-accent);
margin-bottom: 20px;
text-transform: uppercase;
}
.request-received-primary-msg{
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-align: center;
margin: 0 0 20px 0;
text-transform: uppercase;
}
.request-received-secondary-msg{
font-size: 17px;
line-height: 130%;
text-align: center;
width: 185px;
margin: 0;
}
/*FRONT PAGE*/
.front-page{
width: 100%;
background: var(--c-dark);
}
.front-page-my-name{
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-transform: uppercase;
color: var(--txt-c-accent);
text-align: center;
}
.front-page-profesion{
font-weight: bold;
font-size: 35px;
line-height: 42px;
text-transform: uppercase;
text-align: center;
color: var(--txt-c-light);
}
.front-page-description{
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--txt-c-light);
}
.navigation{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.navigation-part{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.hire-me-btn{
font-size: 15px;
font-weight: 800;
line-height: 18px;
letter-spacing: 0.05em;
color: var(--txt-c-accent);
text-decoration: none;
margin: 0 20px 0 0; 
}
.mobile-menu{
height: 30px;
width: 30px;
background: var(--c-accent);
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
text-decoration: none;
}
.mobile-menu i{
color: var(--c-light);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.front-page-gallery-btn{
margin: 0 0 40px 0;
}
.front-page-my-photo{
width: 100px;
margin: 0 0 20px 0;
}
.front-page-my-decr{
margin: 0 0 15px 0;
font-weight: bold;
font-size: 15px;
line-height: 140%;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--txt-c-light);
}
.front-page-my-video-btn{
margin: 0 0 35px 0;
border:2px solid var(--c-accent);
color: var(--txt-c-accent);
background: transparent;
padding: 10px 40px;
font-weight: bold;
display: flex;
align-items: center;
}
.front-page-my-video-btn .fa-play{
font-size: 9px;
margin: 0 7px 0 0;
}
.front-page-laptop{
margin: 0 0 40px 0;
width: 250px;
}
/*EXPERIENCE*/
.experience-title{
margin: 0 0 30px 0;
width: 240px;
font-weight: bold;
font-size: 15px;
line-height: 140%;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--txt-c-light);
}
.experience-container{
display: flex;
flex-direction: column;
}
.experience-skill{
margin: 0 0 20px 28px;
display: flex;
align-items: center;
}
.experience-dots{
margin: 0 10px 0 0;
display: flex;
align-items: center;
}
.experience-text{
margin: 0;
color: var(--txt-c-light);
font-size: 16px;
line-height: 19px;
}
.experience-dots-item{
margin: 0 5px 0 0;
color: var(--c-grey-blue);
font-size: 8px;
}
.experience-dots-item-accent{
color: var(--c-accent);
}
/*ABOUT PAGE*/
.about-title{
color: var(--c-dark);
text-align: left;
width: 280px;
margin: 20px 0;
}
.about-desr{
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: var(--txt-c-light);
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0;

}
.about-desr span{
background: var(--c-dark-blue);
padding: 4px 9px;
}
.about-img-container{
margin: 0 0 20px 0;
display: flex;
justify-content: center;
width: 100%;
}
.about-img-text{
font-weight: bold;
font-size: 150px;
line-height: 180px;
text-transform: uppercase;
color: var(--c-grey-light);
writing-mode: tb-rl;
margin: auto;
position: relative;
}
.about-img{
width: 235px;
height: 254px;
position: absolute;
left: -35px;
top: 55px;
}
.about-text{
font-weight: normal;
font-size: 17px;
line-height: 150%;
color: var(--c-dark);
margin: 0 0 30px 0;
}
.about-text:last-child{
margin-bottom: 0;
}

/*PERSONAL PROJECT*/
.personal-projects{
background: var(--c-dark);
}
.personal-project-img{
width: 100%;
}
.personal-project-name{
margin: 25px 0;
font-style: 17px;
line-height: 150%;
color:var(--txt-c-light);
display: flex;
}
.personal-projects-title{
margin-top: 20px;
}
.personal-project-item-container{
padding: 40px 0 0 0;
background: var(--c-dark-blue);
border-radius: 5px 5px 0 0;
position: relative;
}
.personal-project-item{
margin: 0 0 30px 0;
border-bottom: 1px solid var(--c-dark-blue);
}
.personal-project-item:last-child{
margin-bottom: 0;
}
.project-item-dot{
width: 8px;
height: 8px;
border-radius: 50%;
background: var(--c-grey-blue);
margin: 0 7px 0 0;
}
.project-item-dot:first-child{
background: var(--c-accent);
}
.project-item-dot-container{
display: flex;
position: absolute;
top:17px;
left: 20px;
}
.personal-project-icon{
margin: 3px 15px 0 0;
font-size: 18px;
color: var(--txt-c-accent);
}
.personal-project-btn{
padding: 15px 30px 10px 10px;
margin: 0 0 30px 0;
}
/*TEAM PROJECT*/
.team-projects .container{
padding-bottom: 0;
}
.team-projects-title{
margin: 0 0 40px 0;
color:var(--txt-c-dark);
position: relative;
}
.team-projects-title-bgd{
position: absolute;
font-weight: bold;
font-size: 150px;
line-height: 180px;
text-transform: uppercase;
color: var(--txt-c-grey-light);
z-index: -1;
top: -50px;
left: 115px;
}
.team-project-name{
margin: 25px 0;
font-style: 17px;
line-height: 150%;
color:var(--txt-c-dark);
margin: 25px 0;
display: flex;
}
.team-project-item{
margin: 0 0 30px 0;
border-bottom: 1px solid var(--c-grey-light);
}
.team-project-item:last-child{
margin-bottom: 0;
}
/*CALL-BACK FORM*/
.callback-form-container{
padding: 35px 30px 40px 30px;
background: var(--c-dark);
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
box-sizing: border-box;
}
.callback-form-title{
margin: 0 0 20px 0;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: center;
text-transform: uppercase;
color: var(--txt-c-light);
width: 260px;
}
.callback-form-descr{
margin: 0 0 30px 0;
font-size: 17px;
line-height: 150%;
color: var(--txt-c-light);
width: 260px;
text-align: center;
}
.callback-form-input{
padding: 10px 10px 15px 10px;
margin: 0 0 30px 0;
border: 1px solid var(--c-grey-blue);
text-align: center;
color: var(--c-grey-blue);
background: transparent;
border: none;
outline: none;
}
/*CALCULATOR-BACK FORM*/
.calculator{
background: var(--c-dark);
}
.calculator .container{
padding-bottom: 75px;
}
.calculator-icon{
width: 195px;
}
.calculator-descr{
font-size: 24px;
line-height: 150%;
margin: 0 0 30px 0;
color:var(--txt-c-light);
text-align: center;
font-weight: bold;
text-transform: uppercase;
}
.calculator-descr span{
padding: 5px;
background: var(--c-accent);
}
.calculator-descr .calculator-descr-accent{
padding: 5px 10px;
}
.calculator-title{
width: 270px;
margin: 0 0 20px 0;
}
.calculator-text{
font-size: 17px;
line-height: 150%;
margin: 20px 0 30px 0;
text-align: center;
color:var(--txt-c-light);
}
.calculator-form{
background: var(--c-light);
padding: 30px 25px;
}
.calculator-form-title{
margin: 0 0 15px 0;
font-size: 17px;
line-height: 135%;
color:var(--txt-c-dark);
font-weight: bold;
}
.calculator-form-input{
margin: 0 0 30px 0;
display: flex;
flex-direction: column;
}
.calculator-form-select{
background: transparent;
border: none;
border-bottom: 1px solid var(--c-grey-light);
padding: 5px 0 17px 0;
}
.calculator-form-input-radio-container{
display: flex;
align-items: center;
}
.calculator-form-input{

}
.calculator-form-input-label{
margin: 0 15px 0 0;
color: var(--txt-c-dark);
}
.calculator-form-input-field{
margin: 0 10px 0 0;
}
.calculator-form-total-cost{
font-size: 36px;
line-height: 150%;
font-weight: bold;
color: var(--txt-c-dark);
margin: 0;
}
.calculator-form-total{
font-weight: bold;
font-size: 19px;
line-height: 135%;
color: var(--txt-c-dark);
margin: 0;
}
/*FOOTER SECTION*/
.footer-my-name{
font-size: 17px;
line-height: 150%;
font-weight: bold;
color: var(--txt-c-dark);
margin: 0;
}
.footer-my-profession{
font-size: 17px;
line-height: 150%;
text-align: center;
margin: 0 0 20px 0;
}
.footer-my-tel{
font-size: 17px;
line-height: 150%;
font-weight: bold;
text-align: center;
text-decoration: none;
color: var(--txt-c-dark);
margin: 0 0 15px 0;
}
.footer-my-mail{
font-size: 17px;
line-height: 150%;
font-weight: bold;
text-align: center;
text-decoration: none;
color: var(--txt-c-dark);
margin: 0 0 30px 0;
}
.social-link-item{
font-size: 25px;

}
.social-links-item-link{
margin-right: 35px;
text-decoration: none;
color: var(--txt-c-dark);
}
.social-links-item-link:last-child{
margin-right: 0;
}

/* MULTI SELECT */


.calculator-form-input .tech-input-container .choices__item {
  background: var(--c-accent);
  border: none;
  border-radius: 3px;
  position: relative;
}

.calculator-form-input .tech-input-container:after {
  content: "\f107";
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -2.5px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.calculator-form-input .tech-input-container  {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--c-grey);
  padding-left: 0;
  display: flex;
  align-items: center;
  min-height: 35px;
  box-sizing: border-box;
}

.calculator-form-input .choices__input {
  display: none;
}

.calculator-form-input .choices__item .choices__button {
  border-left: none;
  margin: 0;
  padding-left: 8px;
}